# Assignment 2 
## 2.1 Olympics
All questions receive equal points.<br>
<br>
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning.<br>
<br>
The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals.<br>
Use this dataset to answer the questions below.

In [139]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:col}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,01 !,Silver,Bronze,Total,# Winter,01 !.1,Silver.1,Bronze.1,Total.1,# Games,01 !.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0

What is the first country within the df?

*This function should return a Series.*

In [140]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
01 !                0
Silver              0
Bronze              2
Total               2
# Winter            0
01 !.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
01 !.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [141]:
def answer_one():
    maximum = max(df['01 !'])
    temp_df = df.loc[df['01 !'].isin([maximum]), ['01 !']]
    return temp_df.index[0]

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [142]:
def answer_two():
    temp_df = df[['01 !', '01 !.1']]
    maximum = 0
    i = 0
    while (i < len(temp_df)):
        maximum_new = temp_df.values[i][0]-temp_df.values[i][1]
        if(maximum_new > maximum):
            maximum = maximum_new
            country = temp_df.index[i]
        i = i + 1
    return country

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [143]:
def answer_three():
    temp_df = df[['01 !', '01 !.1', '01 !.2']]
    maximum = 0
    i = 0
    while (i < len(temp_df)):
        if (temp_df.values[i][0] > 0 and temp_df.values[i][1] > 0):
            maximum_new = (temp_df.values[i][0]-temp_df.values[i][1])/temp_df.values[i][2]
            if(maximum_new > maximum):
                maximum = maximum_new
                country = temp_df.index[i]
        i = i + 1
    return str(country)

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [144]:
def answer_four():
    Points = pd.Series([])
    temp_df = df[['01 !.2', 'Silver.2', 'Bronze.2']]
    i = 0
    while (i < len(temp_df)):
        Points[temp_df.index[i]] = (temp_df['01 !.2'][i] * 3) + (temp_df['Silver.2'][i] * 2) + temp_df['Bronze.2'][i]
        i = i + 1
    return Points

answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Length: 146, dtype: int64

## 2.2 Census
For this exercise use census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html).<br>
Counties are political and geographic subdivisions of states in the United States.<br>
This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.<br>
<br>
The census dataset (census.csv) can be loaded as censusDF.<br>

### Question 5
Which state has the most counties in it?<br>
(**Hint:** consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [145]:
censusDF = pd.read_csv('census.csv')
censusDF.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [146]:
def answer_five():
    states_list = censusDF.STNAME.unique()
    temp_census = censusDF[['COUNTY', 'STNAME']]
    i = 0
    states_index = 0
    count_county = 0
    max_county = 0
    while (i < len(states_list)):
        count_county = len(temp_census[temp_census.STNAME == states_list[0]])
        if (max_county < count_county):
            max_county = count_county
            states_index = i
        i = i + 1
    return states_list[states_index]

answer_five()

'Alabama'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [147]:
def answer_six():
    return list(censusDF.sort_values(by=['CENSUS2010POP'], ascending=False).head(3).STNAME)

answer_six()

['California', 'Texas', 'New York']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [148]:
# liste mit differenzen und von da das max nehmen
# wie kommen die werte in die liste
# largest change in the period --> max-min od pop
def extract_even():
    temp_censusDF = censusDF[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']]
    maximum_period = 0
    index = 0
    i = 0
    while (i < len(temp_censusDF)):
        diff_period = max(temp_censusDF.values[i]) - min(temp_censusDF.values[i])
        if(maximum_period < diff_period):
            maximum_period = diff_period
            index = i
        i = i + 1
    return index

In [149]:
def answer_seven():
    x = extract_even()
    return censusDF.STNAME[x]

answer_seven()

'Texas'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [150]:
def answer_eight():
    return censusDF[(censusDF.REGION < 3) & ([name.startswith('Washington') for name in censusDF.CTYNAME]) & 
                    ([pop[0] > pop[1] for pop in censusDF[['POPESTIMATE2015','POPESTIMATE2014']].values])][['STNAME', 'CTYNAME']]

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County